<section class="hero-section">
  <div class="glow-orbs">
        <div class="orb orb1"></div>
        <div class="orb orb2"></div>
    </div>
  <div class="overlay-gradient"></div>

  <div class="content-wrapper">
    <div class="intro-text">
      <h1>Hello, I'm <span class="highlight-name">Vimal</span></h1>
      <p>
        I specialize in building scalable and secure backend systems using Java, Spring Boot, MySQL & REST APIs. I love
        optimizing logic and designing robust architecture.
      </p>
      <a href="assets/pdf/resume.pdf" download class="btn-outline">Download CV</a>
    </div>

    <div class="dev-role">
      <div class="confetti-canvas-container"></div>
      <h3>A PASSIONATE</h3>
      <h2><span>Backend</span> web Developer</h2>
      <img src="assets/images/mob1.png" alt="Backend Developer" (mouseenter)="triggerConfetti()" />
    </div>

  </div>
</section>