<section class="hero-section">
  <div class="glow-orbs">
    <div class="orb orb1"></div>
    <div class="orb orb2"></div>
  </div>
  <div class="overlay-gradient"></div>

  <div class="content-wrapper">
    <div class="intro-text">
      <h1>Hello, I'm <span class="highlight-name">Vimal</span></h1>
      <p>
        Senior Backend Developer with <strong>3+ years of experience</strong> building scalable, high-performance
        systems.
        I specialize in <strong>Java, Spring Boot, & Microservices</strong>, delivering secure enterprise solutions with
        a focus on optimization and reliability.
      </p>

      <a href="assets/pdf/resume.pdf" download class="btn-outline">Download CV</a>
    </div>

    <div class="dev-role">
      <div class="confetti-canvas-container"></div>

      <!-- Coding Mindset Card Moved Here -->
      <div class="mindset-card floating-card">
        <div class="card-header">
          <span class="dot red"></span>
          <span class="dot yellow"></span>
          <span class="dot green"></span>
          <span class="file-name">Vimalraj Mv</span>
        </div>

      </div>

      <h3>A PASSIONATE</h3>
      <h2><span>Backend</span> web Developer</h2>
      <img src="assets/images/mob1.png" alt="Backend Developer" (mouseenter)="triggerConfetti()" />
    </div>

  </div>
</section>