<section class="profile-card-section">
    <div class="glow-orbs">
        <div class="orb orb1"></div>
        <div class="orb orb2"></div>
    </div>

    <div class="profile-card glass">
        <div class="profile-left">
            <img src="assets/images/profile.jpg" alt="Developer" />
        </div>

        <div class="profile-right">
            <h2>Profile</h2>
            <p>
                I'm a dedicated and detail-oriented backend web developer with a passion
                for building scalable APIs and secure applications.
                With expertise in <strong>Java</strong>, <strong>Spring Boot</strong>, and
                <strong>REST</strong>, I focus on creating clean and maintainable solutions.
            </p>

            <div class="btn-wrapper">
                <a href="https://www.linkedin.com/in/vimalraj-vs" target="_blank" class="btn-outline linked">LinkedIn</a>
                <a href="https://naukri.com" target="_blank" class="btn-outline naukri">Naukri</a>
            </div>
        </div>
    </div>
</section>